


{% extends "layout.html" %}
{% block main %}

<h1>About</h1>
<h2>Nolan Gage</h2>
<br>
<p>
For my first project, I created a web-based application for purchasing individual cards for  
the Magic: the Gathering trading card game. I chose this project because a storefront is a
simple web application that can take advantage of different API's for additional features.
The three API's that I chose to integrate are Paypal, USPS Tracking, and Scryfall (an API
dedicated to retrieval of information on individual MtG cards)
</p> 
	
{% endblock %}
