<!doctype html>
<html lang="en">
	<head>
    	<title>Project 2</title>
    	<meta charset="utf-8">
    	<link rel="shortcut icon" href="../static/images/banner.jpg">
    	<link rel="stylesheet" href="../static/styles/main.css">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="static/styles/euchrestyle.css">
		
	</head>
	<body>

	<main/>

	{% block main %}

	{% endblock %}
	
	</main>

	<footer>
		<p>&copy; Copyright 2019 CIS571 Project 2: University of Michigan, Dearborn, Michigan.</p>
	</footer>
	

	</body>
</html>